*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #565656;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar-logo img {
    height: 50px;
}

.navbar-links, .navbar-auth {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li, .navbar-auth a {
    margin: 0 10px;
}

.navbar-links select {
    font-size: 15px;
    color: #fff; 
    margin-left: 0; 
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.navbar-links select option {
    background-color: #565656; 
    color: #fff; 
}

.navbar-search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto; 
}

.navbar-search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    color: #333;
    background-color: #fff;
}

.navbar-search-icon {
    font-size: 18px;
    color: #c7c5c5;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.navbar-menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar-auth a {
    color: #f5f3f3;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.navbar-auth a:hover {
    background-color: #f5f3f3; 
    color: #565656; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    border: 1px solid #ccc; 
}

.auth-icon {
    margin-right: 5px; /* Space between icon and text */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links, .navbar-auth {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links.show, .navbar-auth.show {
        display: flex;
    }

    .navbar-links li, .navbar-auth a {
        margin: 10px 0;
        width: 100%;
        text-align: left;
    }

    .navbar-menu-icon {
        display: inline-block;
    }

    .navbar-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-search-container {
        width: 100%;
        margin: 10px 0;
    }

    .navbar-search-input {
        width: calc(100% - 40px); 
    }

    .navbar-search-icon {
        right: 10px;
    }
}

@media (max-width: 480px) {
    .navbar-links, .navbar-auth {
        display: none;
    }

    .navbar-links.show, .navbar-auth.show {
        display: flex;
    }

    .navbar-links li, .navbar-auth a {
        margin: 10px 0;
        width: 100%;
        text-align: left;
    }

    .navbar-search-input {
        width: calc(100% - 20px); 
    }

    .navbar-search-icon {
        right: 10px;
    }
}
