.transport-container {
  margin: 50px;
  margin-left: 250px;
}

.transport-form-overlay {
  position: fixed;
  top: 50px;
  left: 100px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.transport-form-container {
  background: #1b1b1b;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.transport-form-container h2 {
  margin-bottom: 20px;
}

.transport-form-container label {
  display: block;
  margin: 10px 0 5px;
}

.transport-form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.transport-form-container button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transport-form-container button:hover {
  background-color: #0056b3;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


.action-icons {
  display: flex;
  gap: 20px;
}

.action-icons .view-icon,
.action-icons .edit-icon,
.action-icons .delete-icon {
  cursor: pointer;
  font-size: 20px;
  margin:10px 0;
}

.action-icons .view-icon:hover {
  color: #007bff; 
}

.action-icons .edit-icon:hover {
  color: #ffc107; 
}

.action-icons .delete-icon:hover {
  color: #dc3545; 
}

@media screen and (max-width: 768px) {
  .transport-form {
    width: 100%;
  }

  .ag-theme-alpine-dark {
    width: 100%;
  }
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .transport-form input,
body.dark-mode .transport-form select,
body.dark-mode .transport-form textarea {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}

body.dark-mode .transport-form button {
  background-color: #28a745;
}

body.dark-mode .transport-form button:hover {
  background-color: #218838;
}

body.dark-mode .ag-theme-alpine-dark {
  background-color: #444;
}