.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  transition: background-color 0.3s ease;

}

.sidebar-container {
  width: 250px; 
  transition: width 0.3s ease;
}

.sidebar-container.closed {
  width: 70px; 
}

.main-content-container {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 250px; 
}


.main-content-container.full-width {
  margin-left: 0; 
}