.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  transition: background-color 0.3s ease;

}

.sidebar-container {
  width: 250px; 
  transition: width 0.3s ease;
}

.sidebar-container.closed {
  width: 70px; 
}

.main-content-container {
  flex: 1;
  /* padding: 20px; */
  transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 250px; 
}


.main-content-container.full-width {
  margin-left: 0; 
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
}

input:-webkit-autofill:hover {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
}
